[Unit]
Description=rclone sync
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/router/rclone/start-rclone-sync.sh
# RemainAfterExit=yes

[Install]
WantedBy=default.target

# ln /home/router/rclone/rclone.service ~/.config/systemd/user/rclone.service
# systemctl status --user rclone.service