[Unit]
Description=rclone sync
Wants=network.target
After=network-online.target

[Service]
Type=oneshot.
ExecStart=/bin/bash /home/tools/rclone/start-rclone-pod.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

# ln /home/tools/rclone/rclone.service ~/.config/systemd/user/rclone.service
# systemctl status --user rclone.service