[Unit]
Description=Update ddns
Requires=update-ddns.service
After=network-online.target

[Timer]
OnCalendar=*-*-* *:02/10:13
AccuracySec=1m
RandomizedDelaySec=120

[Install]
WantedBy=timers.target

# systemctl --user disable update-ddns.timer
# systemctl --user enable $PWD/update-ddns.timer
# systemctl --user start update-ddns.timer
# systemctl status --user update-ddns.timer
