[Unit]
Description=Reactive ppp interfaces
Requires=NetworkManager.service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/router/ppp-nat/reactive-ppp-interfaces.sh
# RemainAfterExit=yes

[Install]
WantedBy=default.target

# journalctl -e -u reactive-ppp-interfaces.service