[Unit]
Description=Reactive ppp interfaces
Requires=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
Environment=ROUTER_HOME=/home/router
ExecStart=/bin/bash $ROUTER_HOME/ppp-nat/reactive-ppp-interfaces.sh
# RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

# journalctl -e -u reactive-ppp-interfaces.service