version: "3"

networks:
  internal-frontend:
    external: true
  haproxy:
    enable_ipv6: true
    ipam:
      config:
        - subnet: 10.90.0.0/24
        - subnet: fd32:1:2:9000:0:0:1:0/112
    driver: bridge

services:
  haproxy:
    image: haproxy:alpine
    container_name: haproxy
    restart: unless-stopped
    volumes:
      - ./etc:/etc/haproxy
      # - ./ssl:/etc/haproxy/ssl
      - haproxy-socket:/var/run
    ports:
      - "8666:8666"
      - "6022:6022"
      - "6023:6023"
    environment:
      - TZ=Asia/Shanghai
    user: haproxy:root
    # network_mode: host
    networks:
      - internal-frontend
      - haproxy
    cap_add:
      - NET_BIND_SERVICE
      - NET_ADMIN
    security_opt:
      - label=disable
      - seccomp=unconfined
    command: ["haproxy", "-f", "/etc/haproxy/haproxy.cfg"]

volumes:
  haproxy-socket:
