[Unit]
Description=Nextcloud backup DB
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/tools/llm/llm-backup-db.sh
# RemainAfterExit=yes

[Install]
WantedBy=default.target

# ln /home/tools/llm/llm-backup-db.service ~/.config/systemd/user/llm-backup-db.service
# systemctl status --user llm-backup-db.service
