[Unit]
Description=Run llm backup DB
Requires=llm-backup-db.service
After=network.target network-online.target
Wants=network-online.target

[Timer]
OnCalendar=Sun *-*-* 03:27:23
AccuracySec=20m
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

# systemctl --user disable llm-backup-db.timer
# systemctl --user enable $PWD/llm-backup-db.timer
# systemctl --user start llm-backup-db.timer
# systemctl status --user llm-backup-db.timer