# Apache Traffic Server URL 重映射配置
#
# 语法:
#   map <客户端URL> <源站URL> [选项]
#
# 架构: Caddy (HTTPS) -> ATS (HTTP:3126) -> 源站 (HTTPS:443)
# Caddy 转发时设置 Host 头，ATS 根据 Host 头路由到源站
#
# 说明: remap.config 是必需的配置文件
# 它定义了 ATS 可以代理的域名列表，类似于 Squid 的 cache_peer
# 未在此文件中定义的域名请求将被拒绝
#
# 注意: 此域名列表与 setup-router/squid 保持完全一致

# ==============================================================================
# GitHub 资产
# ==============================================================================
# 启用 cachekey 插件移除查询参数，提高缓存命中率 (与 Squid store_id 逻辑一致)
# release-assets: 强制长缓存 (发布资产不可变)
# 启用 header_rewrite 插件 bypass_auth.conf，禁止缓存带认证的请求
map http://release-assets.githubusercontent.com/ https://release-assets.githubusercontent.com/ @plugin=cachekey.so @pparam=--remove-all-params=true @plugin=header_rewrite.so @pparam=sites/github_release_assets.conf
map http://objects.githubusercontent.com/ https://objects.githubusercontent.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://codeload.github.com/ https://codeload.github.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://gist.githubusercontent.com/ https://gist.githubusercontent.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://user-attachments.githubusercontent.com/ https://user-attachments.githubusercontent.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
# GitHub 主站: 应用 bypass_auth 和 github_download 规则
# github_download.conf 对下载路径和带 commit ID 的页面强制长缓存
map http://github.com/ https://github.com/ @plugin=header_rewrite.so @pparam=sites/bypass_auth.conf @plugin=header_rewrite.so @pparam=sites/github_download.conf
# raw.githubusercontent.com: 带 commit ID 的内容长缓存，其他短缓存
map http://raw.githubusercontent.com/ https://raw.githubusercontent.com/ @plugin=header_rewrite.so @pparam=sites/bypass_auth.conf @plugin=header_rewrite.so @pparam=sites/github_raw.conf
# GitHub LFS: API 端点禁止缓存，对象下载长缓存
map http://lfs.github.com/ https://lfs.github.com/ @plugin=header_rewrite.so @pparam=sites/github_lfs.conf

# ==============================================================================
# GitHub Pages / 静态站点 / Helm 仓库
# ==============================================================================
map http://grafana.github.io/ https://grafana.github.io/
map http://charts.jenkins.io/ https://charts.jenkins.io/
map http://updates.jenkins.io/ https://updates.jenkins.io/
map http://get.jenkins.io/ https://get.jenkins.io/
map http://openebs.github.io/ https://openebs.github.io/
map http://helm.goharbor.io/ https://helm.goharbor.io/
map http://opensearch-project.github.io/ https://opensearch-project.github.io/
map http://git.rancher.io/ https://git.rancher.io/
map http://charts.rancher.io/ https://charts.rancher.io/
map http://mirror.freedif.org/ https://mirror.freedif.org/
map http://mirror.ossplanet.net/ https://mirror.ossplanet.net/

# ==============================================================================
# CDN 服务
# ==============================================================================
# 启用 cachekey 插件移除查询参数 (静态资源 CDN)
map http://cdnjs.cloudflare.com/ https://cdnjs.cloudflare.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://cdn.staticfile.org/ https://cdn.staticfile.org/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://cdn.bootcdn.net/ https://cdn.bootcdn.net/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://stackpath.bootstrapcdn.com/ https://stackpath.bootstrapcdn.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://fonts.gstatic.com/ https://fonts.gstatic.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://ajax.googleapis.com/ https://ajax.googleapis.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://cdn.jsdelivr.net/ https://cdn.jsdelivr.net/
map http://unpkg.com/ https://unpkg.com/
map http://www.unpkg.com/ https://www.unpkg.com/
map http://fonts.googleapis.com/ https://fonts.googleapis.com/

# ESM CDN
map http://esm.sh/ https://esm.sh/
map http://esm.run/ https://esm.run/
map http://cdn.skypack.dev/ https://cdn.skypack.dev/
map http://ga.jspm.io/ https://ga.jspm.io/

# Web App
map http://app.diagrams.net/ https://app.diagrams.net/
map http://viewer.diagrams.net/ https://viewer.diagrams.net/

# ==============================================================================
# Microsoft 下载
# 启用 cachekey 插件移除查询参数
map http://download.microsoft.com/ https://download.microsoft.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://download.windowsupdate.com/ https://download.windowsupdate.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://dl.delivery.mp.microsoft.com/ https://dl.delivery.mp.microsoft.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://download.visualstudio.microsoft.com/ https://download.visualstudio.microsoft.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://download.visualstudio.com/ https://download.visualstudio.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://vscode.download.prss.microsoft.com/ https://vscode.download.prss.microsoft.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://officecdn.microsoft.com/ https://officecdn.microsoft.com/ @plugin=cachekey.so @pparam=--remove-all-params=true

# VS Code Marketplace
# marketplace API 应用缓存规则，/latest 6小时，特定版本 7天
map http://marketplace.visualstudio.com/ https://marketplace.visualstudio.com/ @plugin=cachekey.so @pparam=--remove-all-params=true @plugin=header_rewrite.so @pparam=sites/vscode_marketplace.conf
map http://cdn.vsassets.io/ https://cdn.vsassets.io/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://ms-python.gallerycdn.vsassets.io/ https://ms-python.gallerycdn.vsassets.io/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://ms-toolsai.gallerycdn.vsassets.io/ https://ms-toolsai.gallerycdn.vsassets.io/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://ms-vscode.gallerycdn.vsassets.io/ https://ms-vscode.gallerycdn.vsassets.io/ @plugin=cachekey.so @pparam=--remove-all-params=true

# Microsoft CDN
map http://ajax.aspnetcdn.com/ https://ajax.aspnetcdn.com/
map http://ajax.microsoft.com/ https://ajax.microsoft.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://update.code.visualstudio.com/ https://update.code.visualstudio.com/
map http://api.nuget.org/ https://api.nuget.org/

# ==============================================================================
# Unity
# ==============================================================================
map http://download.unity3d.com/ https://download.unity3d.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://beta.unity3d.com/ https://beta.unity3d.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://netstorage.unity3d.com/ https://netstorage.unity3d.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://public-cdn.cloud.unity3d.com/ https://public-cdn.cloud.unity3d.com/ @plugin=cachekey.so @pparam=--remove-all-params=true
# packages.unity.com: 包元数据强制缓存 6 小时
map http://packages.unity.com/ https://packages.unity.com/ @plugin=header_rewrite.so @pparam=sites/unity_packages.conf

# ==============================================================================
# Unreal Engine
# ==============================================================================
map http://cdn.unrealengine.com/ https://cdn.unrealengine.com/ @plugin=cachekey.so @pparam=--remove-all-params=true

# ==============================================================================
# Golang
# ==============================================================================
map http://proxy.golang.org/ https://proxy.golang.org/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://sum.golang.org/ https://sum.golang.org/ @plugin=cachekey.so @pparam=--remove-all-params=true

# ==============================================================================
# Maven / Gradle
# ==============================================================================
map http://repo1.maven.org/ https://repo1.maven.org/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://repo.maven.apache.org/ https://repo.maven.apache.org/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://plugins.gradle.org/ https://plugins.gradle.org/ @plugin=cachekey.so @pparam=--remove-all-params=true

# ==============================================================================
# Python / PyPI
# ==============================================================================
map http://pypi.org/ https://pypi.org/
map http://pypi.python.org/ https://pypi.python.org/
# files.pythonhosted.org 仅用于文件下载，安全移除 query
map http://files.pythonhosted.org/ https://files.pythonhosted.org/ @plugin=cachekey.so @pparam=--remove-all-params=true
# 镜像源
map http://pypi.tuna.tsinghua.edu.cn/ https://pypi.tuna.tsinghua.edu.cn/ @plugin=cachekey.so @pparam=--remove-all-params=true
map http://mirrors.aliyun.com/ https://mirrors.aliyun.com/ @plugin=cachekey.so @pparam=--remove-all-params=true

# ==============================================================================
# Node.js / npm / yarn
# ==============================================================================
map http://registry.npmjs.org/ https://registry.npmjs.org/ @plugin=header_rewrite.so @pparam=sites/bypass_auth.conf
map http://registry.yarnpkg.com/ https://registry.yarnpkg.com/ @plugin=header_rewrite.so @pparam=sites/bypass_auth.conf
map http://registry.npmmirror.com/ https://registry.npmmirror.com/
map http://cdn.npmmirror.com/ https://cdn.npmmirror.com/
map http://mirrors.cloud.tencent.com/ https://mirrors.cloud.tencent.com/ @plugin=cachekey.so @pparam=--remove-all-params=true

# ==============================================================================
# CMake
# ==============================================================================
map http://cmake.org/ https://cmake.org/

# ==============================================================================
# C++ 文档
# ==============================================================================
map http://en.cppreference.com/ https://en.cppreference.com/
map http://cppreference.com/ https://cppreference.com/
map http://zh.cppreference.com/ https://zh.cppreference.com/
map http://cplusplus.com/ https://cplusplus.com/
map http://www.cplusplus.com/ https://www.cplusplus.com/
map http://isocpp.org/ https://isocpp.org/
map http://www.boost.org/ https://www.boost.org/
map http://boost.org/ https://boost.org/
