[Unit]
Description=Run onlyoffice backup DB
Requires=onlyoffice-backup-db.service
After=network.target network-online.target
Wants=network-online.target

[Timer]
OnCalendar=Sun *-*-* 03:27:23
AccuracySec=20m
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

# systemctl --user disable onlyoffice-backup-db.timer
# systemctl --user enable $PWD/onlyoffice-backup-db.timer
# systemctl --user start onlyoffice-backup-db.timer
# systemctl status --user onlyoffice-backup-db.timer