[Unit]
Description=Run postgres backup DB
Requires=backup-postgresql-db.service
After=network.target network-online.target
Wants=network-online.target

[Timer]
OnCalendar=Sun *-*-* 02:27:23
AccuracySec=20m
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

# systemctl --user disable backup-postgresql-db.timer
# systemctl --user enable $PWD/backup-postgresql-db.timer
# systemctl --user start backup-postgresql-db.timer
# systemctl status --user backup-postgresql-db.timer