[Unit]
Description=Setup router
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/router/setup-services.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target