[Unit]
Description=Update geoip geosite

[Service]
Type=oneshot
ExecStart=/bin/bash /home/router/v2ray/update-geoip-geosite.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target