[Unit]
Description=Run update-geoip-geosite on Monday 05:17
# Requires=update-geoip-geosite.service

[Timer]
OnBootSec=3min
OnCalendar=Mon *-*-* 05:17:00
Persistent=true
# Unit=update-geoip-geosite.service

[Install]
WantedBy=timers.target

# systemctl start update-geoip-geosite.timer