[Unit]
Description=Update geoip geosite
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
Environment=ROUTER_HOME=/home/router
ExecStart=/bin/bash $ROUTER_HOME/v2ray/update-geoip-geosite.sh
# RemainAfterExit=yes

[Install]
WantedBy=default.target