[Unit]
Description=Update geoip geosite
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/router/v2ray/update-geoip-geosite.sh
# RemainAfterExit=yes

[Install]
WantedBy=multi-user.target