[Unit]
Description=Fix rootless netns default route after boot
After=podman-user-wait-network-online.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 20
ExecStart=/home/tools/.config/containers/fix-rootless-netns-route.sh
TimeoutStartSec=600

[Install]
WantedBy=default.target