# ~/.config/containers/systemd/internal-backend.network

[Unit]
Description=Internal Backend Network

[Network]
NetworkName=internal-backend
Driver=bridge
IPAMDriver=host-local

IPv6=true
Subnet=fd02:0:0:22::/64
Gateway=fd02:0:0:22::1
Subnet=172.22.0.0/16
Gateway=172.22.0.1


[Install]
WantedBy=default.target
