# ~/.config/containers/systemd/internal-frontend.network

[Unit]
Description=Internal Frontend Network

[Network]
NetworkName=internal-frontend
Driver=bridge
IPAMDriver=host-local

IPv6=true
Subnet=fd02:0:0:21::/64
Gateway=fd02:0:0:21::1
Subnet=172.21.0.0/16
Gateway=172.21.0.1


[Install]
WantedBy=default.target