[Unit]
Description=Run nextcloud backup DB
Requires=nextcloud-backup-db.service
After=network.target network-online.target
Wants=network-online.target

[Timer]
OnCalendar=Sun *-*-* 03:27:23
AccuracySec=20m
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

# systemctl --user disable nextcloud-backup-db.timer
# systemctl --user enable $PWD/nextcloud-backup-db.timer
# systemctl --user start nextcloud-backup-db.timer
# systemctl status --user nextcloud-backup-db.timer