[Unit]
Description=Update ssl certificates for acme.sh
Wants=network.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/router/acme.sh/acme-renew-pod.sh
# RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

# sudo systemctl enable /home/router/acme.sh/acme-renew-pod.service
# sudo systemctl start acme-renew-pod.service
# sudo systemctl status acme-renew-pod.service
